<!-- Colección -->
<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/img/products/auto-estereo.jpeg" alt="" />
          </div>
          <div class="shop-body">
            <h3>Autoestereos</h3>
            <a class="cta-btn" href="#">Comprar
              <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/img/products/subwoofer.jpeg" alt="" />
          </div>
          <div class="shop-body">
            <h3>Subwoofers</h3>
            <a class="cta-btn" href="#">Comprar
              <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/img/products/amplificador.jpeg" alt="" />
          </div>
          <div class="shop-body">
            <h3>Amplificadores</h3>
            <a class="cta-btn" href="#">Comprar
              <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Nuevos Productos -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Nuevos Productos</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active">
                <a href="#carstereo" data-toggle="tab">Autoestereos</a>
              </li>
              <li>
                <a href="#subwoofer" data-toggle="tab">Subwoofers</a>
              </li>
              <li>
                <a href="#alarm" data-toggle="tab">Alarmas</a>
              </li>
              <li>
                <a href="#accesory" data-toggle="tab">Accesorios</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">

            <div class="tab-pane active" id="carstereo">
              <div class="products-slick" data-nav="#slick-nav-1">

                {{#each carStereoNews}}
                <div class="product">
                  <div class="product-img">
                    {{#each this.images}}
                    {{#if this.selected}}
                    <img src="{{this.imageName}}" alt="">
                    {{/if}}
                    {{/each}}
                    <div class="product-label">
                      <span class="sale">-{{this.discount}}%</span>
                      <span class="new">Nuevo</span>
                    </div>
                  </div>

                  <div class="product-body">
                    <p class="product-category">Autoestereos</p>
                    <h3 class="product-name">
                      <a href="#">{{this.productName}}</a>
                    </h3>
                    <h4 class="product-price">${{discountFn price discount}}
                      <del class="product-old-price">${{this.price}}</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i>
                        <span class="tooltipp">seguir</span>
                      </button>
                      <button class="add-to-compare">
                        <i class="fa fa-exchange"></i>
                        <span class="tooltipp">comparar</span>
                      </button>
                      <button class="quick-view">
                        <i class="fa fa-eye"></i>
                        <span class="tooltipp">ver</span>
                      </button>
                    </div>

                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        agregar
                      </button>
                    </div>

                  </div>
                </div>
                {{/each}}

              </div>
              <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>

            <div class="tab-pane" id="subwoofer">
              <div class="products-slick" data-nav="#slick-nav-1">

                {{#each carStereoNews}}
                <div class="product">
                  <div class="product-img">
                    {{#each this.images}}
                    {{#if this.selected}}
                    <img src="{{this.imageName}}" alt="">
                    {{/if}}
                    {{/each}}
                    <div class="product-label">
                      <span class="sale">-{{this.discount}}%</span>
                      <span class="new">Nuevo</span>
                    </div>
                  </div>

                  <div class="product-body">
                    <p class="product-category">Autoestereos</p>
                    <h3 class="product-name">
                      <a href="#">{{this.productName}}</a>
                    </h3>
                    <h4 class="product-price">${{discountFn price discount}}
                      <del class="product-old-price">${{this.price}}</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i>
                        <span class="tooltipp">seguir</span>
                      </button>
                      <button class="add-to-compare">
                        <i class="fa fa-exchange"></i>
                        <span class="tooltipp">comparar</span>
                      </button>
                      <button class="quick-view">
                        <i class="fa fa-eye"></i>
                        <span class="tooltipp">ver</span>
                      </button>
                    </div>

                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        agregar
                      </button>
                    </div>

                  </div>
                </div>
                {{/each}}

              </div>
              <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>

            <div class="tab-pane" id="alarm">
              <div class="products-slick" data-nav="#slick-nav-1">

                {{#each carStereoNews}}
                <div class="product">
                  <div class="product-img">
                    {{#each this.images}}
                    {{#if this.selected}}
                    <img src="{{this.imageName}}" alt="">
                    {{/if}}
                    {{/each}}
                    <div class="product-label">
                      <span class="sale">-{{this.discount}}%</span>
                      <span class="new">Nuevo</span>
                    </div>
                  </div>

                  <div class="product-body">
                    <p class="product-category">Autoestereos</p>
                    <h3 class="product-name">
                      <a href="#">{{this.productName}}</a>
                    </h3>
                    <h4 class="product-price">${{discountFn price discount}}
                      <del class="product-old-price">${{this.price}}</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i>
                        <span class="tooltipp">seguir</span>
                      </button>
                      <button class="add-to-compare">
                        <i class="fa fa-exchange"></i>
                        <span class="tooltipp">comparar</span>
                      </button>
                      <button class="quick-view">
                        <i class="fa fa-eye"></i>
                        <span class="tooltipp">ver</span>
                      </button>
                    </div>

                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        agregar
                      </button>
                    </div>

                  </div>
                </div>
                {{/each}}

              </div>
              <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>

            <div class="tab-pane" id="accesory">
              <div class="products-slick" data-nav="#slick-nav-1">

                {{#each carStereoNews}}
                <div class="product">
                  <div class="product-img">
                    {{#each this.images}}
                    {{#if this.selected}}
                    <img src="{{this.imageName}}" alt="">
                    {{/if}}
                    {{/each}}
                    <div class="product-label">
                      <span class="sale">-{{this.discount}}%</span>
                      <span class="new">Nuevo</span>
                    </div>
                  </div>

                  <div class="product-body">
                    <p class="product-category">Autoestereos</p>
                    <h3 class="product-name">
                      <a href="#">{{this.productName}}</a>
                    </h3>
                    <h4 class="product-price">${{discountFn price discount}}
                      <del class="product-old-price">${{this.price}}</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i>
                        <span class="tooltipp">seguir</span>
                      </button>
                      <button class="add-to-compare">
                        <i class="fa fa-exchange"></i>
                        <span class="tooltipp">comparar</span>
                      </button>
                      <button class="quick-view">
                        <i class="fa fa-eye"></i>
                        <span class="tooltipp">ver</span>
                      </button>
                    </div>

                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        agregar
                      </button>
                    </div>

                  </div>
                </div>
                {{/each}}

              </div>
              <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Ofertas -->
<div id="hot-deal" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>02</h3>
                <span>Días</span>
              </div>
            </li>
            <li>
              <div>
                <h3>10</h3>
                <span>Horas</span>
              </div>
            </li>
            <li>
              <div>
                <h3>34</h3>
                <span>Minutos</span>
              </div>
            </li>
            <li>
              <div>
                <h3>59</h3>
                <span>Segundos</span>
              </div>
            </li>
          </ul>
          <h2 class="text-uppercase">hot deal this week</h2>
          <p>New Collection Up to 50% OFF</p>
          <a href="#" class="primary-btn cta-btn">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Top Ventas -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Más Vendidos</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active">
                <a href="#tab1" data-toggle="tab">Autoestereos</a>
              </li>
              <li>
                <a href="#tab1" data-toggle="tab">Subwoofers</a>
              </li>
              <li>
                <a href="#tab1" data-toggle="tab">Alarmas</a>
              </li>
              <li>
                <a href="#tab1" data-toggle="tab">Accesorios</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">

            <div class="tab-pane active" id="tab1">
              <div class="products-slick" data-nav="#slick-nav-2">

                <div class="product">
                  <div class="product-img">
                    <img src="/img/products/auto-estereo.jpeg" alt="">
                    <div class="product-label">
                      <span class="sale">-30%</span>
                      <span class="new">Nuevo</span>
                    </div>
                  </div>

                  <div class="product-body">
                    <p class="product-category">Autoestereos</p>
                    <h3 class="product-name">
                      <a href="#">Autoestereo JBL</a>
                    </h3>
                    <h4 class="product-price">$980.00
                      <del class="product-old-price">$990.00</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i>
                        <span class="tooltipp">seguir</span>
                      </button>
                      <button class="add-to-compare">
                        <i class="fa fa-exchange"></i>
                        <span class="tooltipp">comparar</span>
                      </button>
                      <button class="quick-view">
                        <i class="fa fa-eye"></i>
                        <span class="tooltipp">ver</span>
                      </button>
                    </div>

                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        agregar
                      </button>
                    </div>

                  </div>
                </div>

                <div class="product">
                  <div class="product-img">
                    <img src="/img/products/subwoofer.jpeg" alt="">
                    <div class="product-label">
                      <span class="new"> Nuevo</span>
                    </div>
                  </div>

                  <div class="product-body">
                    <p class="product-category">Subwoofers</p>
                    <h3 class="product-name">
                      <a href="#">subwoofer bose</a>
                    </h3>
                    <h4 class="product-price">$980.00
                      <del class="product-old-price">$990.00</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>

                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i>
                        <span class="tooltipp">seguir</span>
                      </button>
                      <button class="add-to-compare">
                        <i class="fa fa-exchange"></i>
                        <span class="tooltipp">comparar</span>
                      </button>
                      <button class="quick-view">
                        <i class="fa fa-eye"></i>
                        <span class="tooltipp">ver</span>
                      </button>
                    </div>

                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        agregar
                      </button>
                    </div>
                  </div>
                </div>

                <div class="product">
                  <div class="product-img">
                    <img src="/img/products/amplificador.jpeg" alt="">
                    <div class="product-label">
                      <span class="sale"> -30%</span>
                    </div>
                  </div>

                  <div class="product-body">
                    <p class="product-category">Amplificadores</p>
                    <h3 class="product-name">
                      <a href="#">Amplificador viper</a>
                    </h3>
                    <h4 class="product-price">$980.00
                      <del class="product-old-price">$990.00</del>
                    </h4>
                    <div class="product-rating">

                    </div>

                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i>
                        <span class="tooltipp">seguir</span>
                      </button>
                      <button class="add-to-compare">
                        <i class="fa fa-exchange"></i>
                        <span class="tooltipp">comparar</span>
                      </button>
                      <button class="quick-view">
                        <i class="fa fa-eye"></i>
                        <span class="tooltipp">ver</span>
                      </button>
                    </div>

                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        agregar
                      </button>
                    </div>

                  </div>
                </div>

                <div class="product">
                  <div class="product-img">
                    <img src="/img/products/camara-reversa.jpeg" alt="">
                  </div>

                  <div class="product-body">
                    <p class="product-category">Accesorios</p>
                    <h3 class="product-name">
                      <a href="#">cámara de reversa</a>
                    </h3>
                    <h4 class="product-price">$980.00
                      <del class="product-old-price">$990.00</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i>
                        <span class="tooltipp">seguir</span>
                      </button>
                      <button class="add-to-compare">
                        <i class="fa fa-exchange"></i>
                        <span class="tooltipp">comparar</span>
                      </button>
                      <button class="quick-view">
                        <i class="fa fa-eye"></i>
                        <span class="tooltipp">ver</span>
                      </button>
                    </div>

                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        agregar
                      </button>
                    </div>

                  </div>
                </div>

                <div class="product">
                  <div class="product-img">
                    <img src="/img/products/bocinas.jpg" alt="">
                  </div>

                  <div class="product-body">
                    <p class="product-category">Bocinas</p>
                    <h3 class="product-name">
                      <a href="#">bocinas sony</a>
                    </h3>
                    <h4 class="product-price">$980.00
                      <del class="product-old-price">$990.00</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i>
                        <span class="tooltipp">seguir</span>
                      </button>
                      <button class="add-to-compare">
                        <i class="fa fa-exchange"></i>
                        <span class="tooltipp">comparar</span>
                      </button>
                      <button class="quick-view">
                        <i class="fa fa-eye"></i>
                        <span class="tooltipp">ver</span>
                      </button>
                    </div>

                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        agregar
                      </button>
                    </div>

                  </div>
                </div>
              </div>
              <div id="slick-nav-2" class="products-slick-nav"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>